body {
  background-color: #cccccc; }

header {
  height: 100vh;
  max-width: 100vw;
  width: 100%;
  background-image: url("../img/head2.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.langs {
  margin-bottom: 0px;
  font-size: 25px;
  color: white; }

.langs a {
  color: white; }

.langs a:hover {
  color: #ff9900;
  text-decoration: none; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

nav a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .4s ease-in-out; }

.topmenu {
  text-align: center; }

.topmenu > li {
  display: inline-block;
  position: relative;
  font-family: 'PT Serif', serif; }

.topmenu li:last-child {
  padding: 0px; }

.topmenu > li:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 10px;
  top: 16px;
  transform: rotate(30deg); }

.topmenu > li:last-child:after {
  background: none;
  box-shadow: none; }

.topmenu > li > a {
  padding: 12px 26px;
  color: #ffffff;
  font-size: 27px;
  letter-spacing: 1px; }

.topmenu li a:hover {
  color: #ff9900;
  text-decoration: none; }

.submenu {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 210px;
  margin-left: -105px;
  background: #ff9900;
  border: 1px solid #ededed;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
  transition: .4s ease-in-out; }

.submenu li a {
  padding: 10px 0;
  margin: 0 10px;
  border-bottom: 1px solid #efefef;
  font-size: 20px;
  color: #ffffff;
  font-family: 'PT Serif', serif; }

.submenu li a:hover {
  color: #000000; }

.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: scale(1); }

.contacts-head {
  max-width: 380px;
  width: 100%;
  border: 2px solid #ff9900; }

.contacts-head dl {
  color: white;
  text-align: left; }
  .contacts-head dl > dt dd {
    padding-top: 16px; }

.contacts-head a {
  color: #ff9900; }

.contacts-head a:hover {
  text-decoration: none;
  color: #ffffff; }

.container {
  max-width: 1118px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  padding-top: 118px;
  padding-left: 113px; }

.main-text {
  max-width: 400px;
  width: 100%;
  border: 1px solid white; }

.logo-top {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 6em; }

.test {
  font-size: 16px; }

.centrolit {
  position: absolute;
  width: 331px;
  height: 79.74px;
  left: 794px;
  top: 400.67px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 79px;
  color: #FD2B2B;
  border: 2px solid #FFFFFF; }
